/*Moamen*/

#home header{

    text-align: center;
    padding: 10px 10px 10px 10px;

}

#home footer{

    text-align: center;
    padding: 10px 10px 10px 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width : 100%;

}

/*Naggar*/
