/*Moamen*/

#profile [data-role="content"] img{

    width: 140px;
    height: 130px;

}

#home header , #profile header{

    text-align: center;
    padding: 10px 10px 10px 10px;

}

#home footer , #profile footer{

    text-align: center;
    padding: 10px 10px 10px 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

}

#contactsList img{

    width:80px;
    height:80px;

}


#invalidErrorMessage{

    color: crimson;
    margin-left: 7px;
    font-weight: bold;
    display: none;

}

/*Naggar*/

#createContact header {

    text-align: center;
    padding: 10px 10px 10px 10px;

}

#createContact footer {

    text-align: center;
    padding: 10px 10px 10px 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

}

#createContact #phone, #name, #email, #flip {
    margin: 5px;

}

#createContact #cancleBtn , #saveBtn {
    width: 30%;
    margin: 20px;
    float: left;
    alignment: center;
}

